.container {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
}
.btn {
	width: 185px;
}
.btn + .btn {
	margin-left: 21px;
}
.btn {
	width: 186px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	display: inline-block;
	font-size: 30px;
	font-weight: 400;
	border-radius: 28rpx;
	background: rgba(56, 56, 58, 0.8);
	color: #FFFFFF;
}
.btn.primary {
	background: #FFFFFF;
	border: 2rpx solid #9FA0A0;
	color: #38383A;
	border: 1px solid #38383A;
}
.btn.cart {
	background: linear-gradient(to right, #E2D271, #E79A4A);
}