
.mask {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
}
.modelContainer {
	position: absolute;
	left: 50px;
	right: 50px;
	top: 120px;
	padding: 46px 20px 70px 0;
	background-color: rgba(0,0,0, 0.6);
}
.title {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	margin-bottom: 32px;
}
.arrowContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}
.arrowicon {
	width: 46px;
	height: 25px;
}
.content {
	display: flex;
	align-items: flex-start;
	font-size: 0;
}
.left {
	padding: 0 15px;
	text-align: center;
}
.leftList {
	height: 180PX;
	overflow: hidden;
	margin: 10px 0;
}
.leftItem {
	width: 130px;
	height: 26PX;
	line-height: 26PX;
	border-radius: 8px;
	background: linear-gradient(to right, #61c4e1, #95d6e9);
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 10PX;
}
.itemContainer {
	position: relative;
	left: 0;
	top: 0;
}

.scrollView {
	height: 432px;
	width: 470px;
}
.modelList {
	display: flex;
	flex-wrap: wrap;
}
.modelItem {
	width: 150px;
	background-color: rgba(255,255,255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
	margin-bottom: 12px;
}
.modelItem:nth-child(3n + 3) {
	margin-right: 0;
}
.modelImage {
	width: 120px;
}