.productBox {
	width: 164px;
	box-sizing: border-box;
}
.arrowBase {
	display: block;
	margin: auto;
	width: 68px;
	height: 40px;
	margin: 10px auto 30px;
}
.disable {
	opacity: 0.3;
}
.pre {
}
.next {
	transform: rotate(180deg);
}
.listsBox {
	position: relative;
	max-height: 600px;
	box-sizing: border-box;
	overflow: hidden;
}
.lists {
	position: relative;
	transition: 0.5s;
}
.listItem {
	width: 100px;
	height: 20%;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}
.listItem:last-child {
	margin-bottom: 0px;
}
.itemImage {
	width: 100px;
	height: 142px;
	overflow: hidden;
	background-color: #F3F2F0;
}
