.productBox {
	width: 160px;
	box-sizing: border-box;
	border-right: 1rpx solid #A5A6A6;
}
.arrowBase {
	margin: auto;
	width: 160px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F5F5F5;
	border: 1px solid #A5A6A6;
	box-sizing: border-box;
}
.arrowIcon {
	display: inline-block;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #38383A transparent;
	margin-bottom: 10px;
}
.disable {
	opacity: 0.3;
}
.next {
	transform: rotate(180deg);
	margin-top: 10px;
	margin-bottom: 0;
}
.listsBox {
	position: relative;
	max-height: 136Px;
	box-sizing: border-box;
	overflow: hidden;
}
.lists {
	position: relative;
	transition: 0.5s;
}
.listItem {
	width: 160px;
	height: 34Px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	border-top: 1rpx solid #A5A6A6;
	color: #A5A6A6;
}
.itemActive {
	background-color: #38383A;
	color: #fff;
}
.listItem:first-child {
	border-top: none;
}
.itemImage {
	width: 34px;
	height: 34px;
	overflow: hidden;
	margin-right: 16px;
}
.itemTitle {
	font-size: 26px;
	font-family: Hiragino Sans GB;
	font-weight: normal;
	line-height: 37px;
}