.page {
	background-color: #EBEBEB;
	height: 100vh;
	padding: 40px 30px;
	box-sizing: border-box;
	text-align: center;
}
.container {
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.06);
	line-height: 1;
	padding:  0 90px;
	box-sizing: border-box;
	height: 100%;
	text-align: center;
}
.btn {
	display: inline-block;
	width: 183px;
	height: 53px;
	line-height: 53px;
	border-radius: 7px;
	font-size: 30px;
	font-weight: 400;
	background: #FFFFFF;
	border: 2rpx solid #9FA0A0;
	border-radius: 26rpx;
}
.btn.btn-gray {
	background: #38383A;
	border-color: #38383A;
	color: #FFFFFF;
}
.btn + .btn {
	margin-left: 60px;
}

.margin20 {
	margin-bottom: 20px;
}
.margin100 {
	margin-bottom: 100px;
}
.margin50 {
	margin-bottom: 50px;
}

.image {
	width: 190px;
	margin-top: 130px;
}
.text1 {
	font-size: 31px;
	font-weight: 400;
	color: #838383;
	line-height: 35px;
	margin-top: 24px;
}
.text2 {
	font-size: 21px;
	font-weight: 400;
	color: #757575;
	line-height: 25px;
	margin-top: 55px;
	margin-bottom: 60px;
}
.text3 {
	font-size: 31px;
	font-weight: 500;
	color: #2E2E2E;
	line-height: 42px;
}
.qrcode {
	width: 128px;
	height: 128px;
	margin: 60px 0 50px;
}