.page {
	background-color: #ffffff;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
}
.planSelectBox{
	position: absolute;
	top: 450px;
	left: 0;
	display: inline-block;
	z-index: 2;
}
.productListsBox{
	position: absolute;
	top: 72px;
	right: 20px;
	display: inline-block;
	z-index: 2;
}
.beltOperation {
	position: absolute;
	top: 770px;
	right: 20px;
	z-index: 2;
	width: 164px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	box-sizing: border-box;
}
.ModelCategory {
	position: absolute;
	top: 90px;
	left: 0;
	display: inline-block;
	z-index: 2;
}
.turnLeft, .turnRight {
	width: 135px;
	position: fixed;
	bottom: 330px;
	z-index: 5;
}
.turnLeft {
	right: 110px;
}
.turnRight {
	left: 110px;
}

.enlargeIcon, .smallerIcon {
	width: 56px;
	margin: 10px;
}