.user {
	min-height: 100vh;
	box-sizing: border-box;
	padding-bottom: 40rpx;
	background-color: #F6F6F8;
	padding-top: 68rpx;
}

.userinfo {
	background-color: #ffffff;
	margin: 0 18rpx 18rpx;
	box-shadow: 0px 2rpx 14rpx 0px rgba(0,0,0,0.06); 
	height: 201rpx;
}
.login-btn {
	font-weight: normal;
	font-size: 30rpx;
	background-color: #07c160;
	color: #ffffff;
	line-height: 2.3;
	padding-left: 28rpx;
	padding-right: 28rpx;
	height: 58rpx;
	line-height: 58rpx;
	margin: 0 auto;
	border-radius: 10rpx;
}
.login-btn::after {
	border: none;
}
.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 28rpx 20rpx 28rpx 42rpx;
  border-radius: 50%;
}
.userinfo-nickname {
  color: #aaa;
}
.usermotto {
  margin-top: 200px;
}


.cells {
	background-color: #ffffff;
	box-shadow: 0px 2rpx 14rpx 0px rgba(0,0,0,0.06); 
	overflow: hidden;
	border-radius: 8rpx;
	margin: 0 18rpx;
	padding: 0 40rpx;
}
.cell {
	justify-content: space-between;
	position: relative;
	height: 117rpx;
	width: 100%;
	font-size: 30rpx;
	color: #070707;
}
.cell + .cell {
	border-top: 1rpx solid #e8e8e8;
}
.cell-btn {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
}
.cell-btn::after {
	border: none;
}
.cell-icon {
	width: 44rpx;
	height: 44rpx;
	margin-right: 28rpx;
}
.icon-arrowright {
	width: 13rpx;
	height: 23rpx;
}